<ul class="breadcrumbs"> 
	<li><a href="#">Home</a></li> 
	<li class="current"><a href="#">Investigación</a></li> 
</ul>

Revista de Empresa Familiar, vol. 4, nº 1, (9-20). 
pdf

Godos, J.L; Fernández, R.; Cabeza, L. & Martínez, A. (2014): “Determinants of CSR practices: analysis of the influence of ownerhip and the management profile mediating effect”, Spanish Journal of Finance and Accounting, vol. 43, nº 1, (47-68). 

Martínez, A. (2014): “The benefits of related and unrelated diversification strategies in the Spanish context: What is the difference that executive leadership style can make?",  Leadership (en prensa).

Miguel-Dávila, J.A.; Martín-Sánchez, M. & Rodríguez, P. (2014): “El rol mediador del aprendizaje entre el liderazgo y la realización del trabajador”,   Intangible Capital, vol. 10, nº 1, (75-100). 

Nieto, M. & González, N.  (2014): “Industry, institutional context and product innovation: A study in Spanish manufacturing firms”, Technological Analysis and Strategic Management (en prensa).

Sánchez, G. (2014): “Efectos de la cooperación sobre el desarrollo de innovaciones organizativas”, Economía Industrial, nº 391, (77-86).

Sánchez, G. (2014): “Cooperation with external agents and non-technological innovations”, en Hervás-Oliver, J.L.; Peris-Ortiz, M. (Eds.): Management Innovation, Springer, London (139-158).

Sánchez, G.; Herrera, L. (2014): “Effects of customer cooperation on knowledgegeneration activities and innovation results of firms”, Business Research Quarterly (en prensa). 

Sánchez, G.; Herrera, L. (2014): “Effects of user cooperation on the development of innovations and their type”, Canadian Journal of Administrative Science (en prensa).

Suárez, M.F. & Miguel-Dávila, J.A. (2014): “Assesing the design, management and improvement of Kaizen projects in local governments”, Business Process Management Journal, vol. 20, nº 3 (en prensa).

<br><br>

<p class = "paginacion">
<ul class="pagination"> <li class="arrow unavailable"><a href="">&laquo;</a></li> <li class="current"><a href="">1</a></li> <li><a href="">2</a></li> <li><a href="">3</a></li> <li><a href="">4</a></li> <li class="unavailable"><a href="">&hellip;</a></li> <li><a href="">12</a></li> <li><a href="">13</a></li> <li class="arrow"><a href="">&raquo;</a></li> </ul>

</p>