

<h1> Panel de control del usuario </h1>

<ul>
	<li> Crear artículos </li>
	<li> Subir ficheros </li>
	<li> Enviar correos a compañeros del grupo </li>
	<li> Enviar mensajes a los usuarios conectados </li>
	<li> Modificar datos personales</li>
	<li> etc... </li>

</ul>