<ul class="breadcrumbs"> 
	<li><a href="#">Home</a></li> 
	<li class="current"><a href="#">Presentación</a></li> 
</ul>


<div>
<h3> Departamento IFD </h3>
<hr>

<div class="panel clearfix"> 
	<%= image_tag("portada.jpg", class: "imagen") %> 

	<p>

		El Grupo de Investigación en Dirección de Empresas (GIDE) está integrado por profesores del área de Organización de Empresas de la Universidad de León. El grupo está dirigido por el Prof. Dr. D. Mariano Nieto Antolín (Catedrático de Organización de Empresas) y ha sido reconocido por la Junta de Castilla y León como Grupo de Investigación de Excelencia desde el año 2010 (Grupo GR280, Resolución de la Dirección General de Universidades e Investigación de la Junta de Castilla y León de 25 de junio de 2010). Además, los miembros del equipo participan en el programa de Doctorado en Economía de la Empresa (DEE) con Mención de Calidad (MCD2007-00103) para el periodo 2007-2011 (Resolución de la Secretaría de Estado de Universidades e Investigación de 19 de Septiembre de 2007) y con Mención hacia la Excelencia (MEE2011-0348) para el periodo 2011-2014 (Resolución de la Secretaría General de Universidades de 6 de Octubre de 2011).
		
		
		La actividad investigadora de los integrantes del grupo se centra en el estudio de diferentes aspectos de la realidad económica y empresarial y muy especialmente de las dimensiones  relevantes del proceso de dirección estratégica de la empresa (Economía y Dirección de la Innovación Tecnológica, Gobierno Corporativo, Ética y Responsabilidad Social, Creación Empresarial, Modelos de Negocio  y Espíritu Emprendedor, Dirección de Recursos Humanos y Habilidades Directivas, Estrategias de Diversificación, Dirección de la Calidad, Privatizaciones, entre otras). El grupo facilita a los profesores visitantes, becarios de investigación y estudiantes de posgrado (Master y Doctorado) los recursos necesarios para realizar investigación de alto nivel, incluyendo el acceso a las bases de datos más relevantes del área.
		
			
	</p>
</div>

